body{
    margin: 0px;
}

div{
    background-color: black;
    height: 300px;
    width: 300px;
animation: expand 2s ease-in-out infinite ;
    margin: 20px;
}

div:hover{
    animation-play-state: paused;
}

@keyframes expand{
    from{
        width:300px;
    }
    to{
        width: 700px;
    }
}