 .body {
     background-color: red;
     display: flex;
     width: 500px;
     height: 40px;
 }

 .header {
     width: 100px;
     background-color: black;
     color: white;
 }

 .menu {
     width: 400px;
     background-color: aqua;
 }

 .hero {
     background-color: lightblue;
     width: 500px;
     height: 150px;
 }

 .main {
     height: 100px;
     width: 250px;

 }

 .right-sub {
     width: 125px;
 }

 .image {
     background-color: pink;
     display: flex;
     height: 50px;

 }

 .banner {
     background-color: blanchedalmond;
     width: 500px;
     height: 50px;
     ;
 }

 .extra {
     background-color: beige;
     height: 50px;
 }

 .right-main {
     width: 125px;

     display: flex;
 }

 .left {

     background-color: darkblue;
 }

 .right {
     display: flex;
 }

 .content {
     display: flex;
 }